# Streetcar Delay Prediction - Data Preparation

Use dataset covering Toronto Transit Commission (TTC) streetcar delays 2014 - present to predict future delays and come up with recommendations for avoiding delays.

Source dataset: : https://www.toronto.ca/city-government/data-research-maps/open-data/open-data-catalogue/#e8f359f0-2f47-3058-bf64-6ec488de52da

This notebook contains the common data loading and preparation steps:
- load data from all the tabs of all the XLS files into a single dataframe
- correct type issues
- fix missing values
- clean up anomalies in the location, direction and vehicle columns

# Streetcar routes

From https://www.ttc.ca/Routes/Streetcars.jsp

<table style="border: none" align="left">
   </tr>
   <tr style="border: none">
       <th style="border: none"><img src="https://raw.githubusercontent.com/ryanmark1867/streetcarnov3/master/streetcar%20routes.jpg" width="600" alt="Icon"> </th>
   </tr>
</table>

# Streetcar vehicle IDs CLRV/ALRV

From https://en.wikipedia.org/wiki/Toronto_streetcar_system_rolling_stock#CLRVs_and_ALRVs

<table style="border: none" align="left">
   </tr>
   <tr style="border: none">
       <th style="border: none"><img src="https://raw.githubusercontent.com/ryanmark1867/streetcarnov3/master/streetcarCLRV.jpg" width="600" alt="Icon"> </th>
   </tr>
</table>

In [1]:
streetcar_vehicles = list(range(4000,4005))+ list(range(4010,4200)) +  list(range(4200,4252)) + [4900]
streetcar_vehicles = streetcar_vehicles + [4400] + list(range(4402,4508))
print("valid streetcars",streetcar_vehicles)

valid streetcars [4000, 4001, 4002, 4003, 4004, 4010, 4011, 4012, 4013, 4014, 4015, 4016, 4017, 4018, 4019, 4020, 4021, 4022, 4023, 4024, 4025, 4026, 4027, 4028, 4029, 4030, 4031, 4032, 4033, 4034, 4035, 4036, 4037, 4038, 4039, 4040, 4041, 4042, 4043, 4044, 4045, 4046, 4047, 4048, 4049, 4050, 4051, 4052, 4053, 4054, 4055, 4056, 4057, 4058, 4059, 4060, 4061, 4062, 4063, 4064, 4065, 4066, 4067, 4068, 4069, 4070, 4071, 4072, 4073, 4074, 4075, 4076, 4077, 4078, 4079, 4080, 4081, 4082, 4083, 4084, 4085, 4086, 4087, 4088, 4089, 4090, 4091, 4092, 4093, 4094, 4095, 4096, 4097, 4098, 4099, 4100, 4101, 4102, 4103, 4104, 4105, 4106, 4107, 4108, 4109, 4110, 4111, 4112, 4113, 4114, 4115, 4116, 4117, 4118, 4119, 4120, 4121, 4122, 4123, 4124, 4125, 4126, 4127, 4128, 4129, 4130, 4131, 4132, 4133, 4134, 4135, 4136, 4137, 4138, 4139, 4140, 4141, 4142, 4143, 4144, 4145, 4146, 4147, 4148, 4149, 4150, 4151, 4152, 4153, 4154, 4155, 4156, 4157, 4158, 4159, 4160, 4161, 4162, 4163, 4164, 4165, 4166, 4167, 4168, 4169, 4170, 4171, 4172, 4173, 4174, 4175, 4176, 4177, 4178, 4179, 4180, 4181, 4182, 4183, 4184, 4185, 4186, 4187, 4188, 4189, 4190, 4191, 4192, 4193, 4194, 4195, 4196, 4197, 4198, 4199, 4200, 4201, 4202, 4203, 4204, 4205, 4206, 4207, 4208, 4209, 4210, 4211, 4212, 4213, 4214, 4215, 4216, 4217, 4218, 4219, 4220, 4221, 4222, 4223, 4224, 4225, 4226, 4227, 4228, 4229, 4230, 4231, 4232, 4233, 4234, 4235, 4236, 4237, 4238, 4239, 4240, 4241, 4242, 4243, 4244, 4245, 4246, 4247, 4248, 4249, 4250, 4251, 4900, 4400, 4402, 4403, 4404, 4405, 4406, 4407, 4408, 4409, 4410, 4411, 4412, 4413, 4414, 4415, 4416, 4417, 4418, 4419, 4420, 4421, 4422, 4423, 4424, 4425, 4426, 4427, 4428, 4429, 4430, 4431, 4432, 4433, 4434, 4435, 4436, 4437, 4438, 4439, 4440, 4441, 4442, 4443, 4444, 4445, 4446, 4447, 4448, 4449, 4450, 4451, 4452, 4453, 4454, 4455, 4456, 4457, 4458, 4459, 4460, 4461, 4462, 4463, 4464, 4465, 4466, 4467, 4468, 4469, 4470, 4471, 4472, 4473, 4474, 4475, 4476, 4477, 4478, 4479, 4480, 4481, 4482, 4483, 4484, 4485, 4486, 4487, 4488, 4489, 4490, 4491, 4492, 4493, 4494, 4495, 4496, 4497, 4498, 4499, 4500, 4501, 4502, 4503, 4504, 4505, 4506, 4507]

# Streetcar vehicle IDs Flexity

From https://en.wikipedia.org/wiki/Toronto_streetcar_system_rolling_stock#CLRVs_and_ALRVs

<table style="border: none" align="left">
   </tr>
   <tr style="border: none">
       <th style="border: none"><img src="https://raw.githubusercontent.com/ryanmark1867/streetcarnov3/master/streetcarflexity.jpg" width="600" alt="Icon"> </th>
   </tr>
</table>

# Bus identification
The following links define the valid non-streetcar vehicles that can be delayed by streetcar incidents

- Buses 1xxx: https://cptdb.ca/wiki/index.php/Toronto_Transit_Commission_1000-1149
- Buses 2xxx: https://cptdb.ca/wiki/index.php/Toronto_Transit_Commission_2000-2110,_2150-2155,_2240-2485,_2600-2619,_2700-2765,_2767-2858
- Buses 70xx: https://cptdb.ca/wiki/index.php/Toronto_Transit_Commission_7000-7134
- Buses 74xx: https://cptdb.ca/wiki/index.php/Toronto_Transit_Commission_7400-7499,_7500-7619,_7620-7881
- Buses 8xxx: https://cptdb.ca/wiki/index.php/Toronto_Transit_Commission_8000-8099
- Buses 9xxx: https://cptdb.ca/wiki/index.php/Toronto_Transit_Commission_9000-9026

In [2]:
bus_vehicles = list(range(1000,1150))+ list(range(2000,2111)) + list(range(2150,2156)) + list(range(2240,2486))
bus_vehicles = bus_vehicles + list(range(2600,2620)) + list(range(2700,2766)) + list(range(2767,2859))
bus_vehicles = bus_vehicles + list(range(7000,7135)) + list(range(7400,7450)) + list(range(7500,7620)) + list(range(7620,7882))
bus_vehicles = bus_vehicles + list(range(8000,8100)) + list(range(9000,9027))
valid_vehicles = streetcar_vehicles + bus_vehicles
print("valid vehicles",valid_vehicles)

valid vehicles [4000, 4001, 4002, 4003, 4004, 4010, 4011, 4012, 4013, 4014, 4015, 4016, 4017, 4018, 4019, 4020, 4021, 4022, 4023, 4024, 4025, 4026, 4027, 4028, 4029, 4030, 4031, 4032, 4033, 4034, 4035, 4036, 4037, 4038, 4039, 4040, 4041, 4042, 4043, 4044, 4045, 4046, 4047, 4048, 4049, 4050, 4051, 4052, 4053, 4054, 4055, 4056, 4057, 4058, 4059, 4060, 4061, 4062, 4063, 4064, 4065, 4066, 4067, 4068, 4069, 4070, 4071, 4072, 4073, 4074, 4075, 4076, 4077, 4078, 4079, 4080, 4081, 4082, 4083, 4084, 4085, 4086, 4087, 4088, 4089, 4090, 4091, 4092, 4093, 4094, 4095, 4096, 4097, 4098, 4099, 4100, 4101, 4102, 4103, 4104, 4105, 4106, 4107, 4108, 4109, 4110, 4111, 4112, 4113, 4114, 4115, 4116, 4117, 4118, 4119, 4120, 4121, 4122, 4123, 4124, 4125, 4126, 4127, 4128, 4129, 4130, 4131, 4132, 4133, 4134, 4135, 4136, 4137, 4138, 4139, 4140, 4141, 4142, 4143, 4144, 4145, 4146, 4147, 4148, 4149, 4150, 4151, 4152, 4153, 4154, 4155, 4156, 4157, 4158, 4159, 4160, 4161, 4162, 4163, 4164, 4165, 4166, 4167, 4168, 4169, 4170, 4171, 4172, 4173, 4174, 4175, 4176, 4177, 4178, 4179, 4180, 4181, 4182, 4183, 4184, 4185, 4186, 4187, 4188, 4189, 4190, 4191, 4192, 4193, 4194, 4195, 4196, 4197, 4198, 4199, 4200, 4201, 4202, 4203, 4204, 4205, 4206, 4207, 4208, 4209, 4210, 4211, 4212, 4213, 4214, 4215, 4216, 4217, 4218, 4219, 4220, 4221, 4222, 4223, 4224, 4225, 4226, 4227, 4228, 4229, 4230, 4231, 4232, 4233, 4234, 4235, 4236, 4237, 4238, 4239, 4240, 4241, 4242, 4243, 4244, 4245, 4246, 4247, 4248, 4249, 4250, 4251, 4900, 4400, 4402, 4403, 4404, 4405, 4406, 4407, 4408, 4409, 4410, 4411, 4412, 4413, 4414, 4415, 4416, 4417, 4418, 4419, 4420, 4421, 4422, 4423, 4424, 4425, 4426, 4427, 4428, 4429, 4430, 4431, 4432, 4433, 4434, 4435, 4436, 4437, 4438, 4439, 4440, 4441, 4442, 4443, 4444, 4445, 4446, 4447, 4448, 4449, 4450, 4451, 4452, 4453, 4454, 4455, 4456, 4457, 4458, 4459, 4460, 4461, 4462, 4463, 4464, 4465, 4466, 4467, 4468, 4469, 4470, 4471, 4472, 4473, 4474, 4475, 4476, 4477, 4478, 4479, 4480, 4481, 4482, 4483, 4484, 4485, 4486, 4487, 4488, 4489, 4490, 4491, 4492, 4493, 4494, 4495, 4496, 4497, 4498, 4499, 4500, 4501, 4502, 4503, 4504, 4505, 4506, 4507, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098, 2099, 2100, 2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108, 2109, 2110, 2150, 2151, 2152, 2153, 2154, 2155, 2240, 2241, 2242, 2243, 2244, 2245, 2246, 2247, 2248, 2249, 2250, 2251, 2252, 2253, 2254, 2255, 2256, 2257, 2258, 2259, 2260, 2261, 2262, 2263, 2264, 2265, 2266, 2267, 2268, 2269, 2270, 2271, 2272, 2273, 2274, 2275, 2276, 2277, 2278, 2279, 2280, 2281, 2282, 2283, 2284, 2285, 2286, 2287, 2288, 2289, 2290, 2291, 2292, 2293, 2294, 2295, 2296, 2297, 2298, 2299, 2300, 2301, 2302, 2303, 2304, 2305, 2306, 2307, 2308, 2309, 2310, 2311, 2312, 2313, 2314, 2315, 2316, 2317, 2318, 2319, 2320, 2321, 2322, 2323, 2324, 2325, 2326, 2327, 2328, 2329, 2330, 2331, 2332, 2333, 2334, 2335, 2336, 2337, 2338, 2339, 2340, 2341, 2342, 2343, 2344, 2345, 2346, 2347, 2348, 2349, 2350, 2351, 2352, 2353, 2354, 2355, 2356, 2357, 2358, 2359, 2360, 2361, 2362, 2363, 2364, 2365, 2366, 2367, 2368, 2369, 2370, 2371, 2372, 2373, 2374, 2375, 2376, 2377, 2378, 2379, 2380, 2381, 2382, 2383, 2384, 2385, 2386, 2387, 2388, 2389, 2390, 2391, 2392, 2393, 2394, 2395, 2396, 2397, 2398, 2399, 2400, 2401, 2402, 2403, 2404, 2405, 2406, 2407, 2408, 2409, 2410, 2411, 2412, 2413, 2414, 2415, 2416, 2417, 2418, 2419, 2420, 2421, 2422, 2423, 2424, 2425, 2426, 2427, 2428, 2429, 2430, 2431, 2432, 2433, 2434, 2435, 2436, 2437, 2438, 2439, 2440, 2441, 2442, 2443, 2444, 2445, 2446, 2447, 2448, 2449, 2450, 2451, 2452, 2453, 2454, 2455, 2456, 2457, 2458, 2459, 2460, 2461, 2462, 2463, 2464, 2465, 2466, 2467, 2468, 2469, 2470, 2471, 2472, 2473, 2474, 2475, 2476, 2477, 2478, 2479, 2480, 2481, 2482, 2483, 2484, 2485, 2600, 2601, 2602, 2603, 2604, 2605, 2606, 2607, 2608, 2609, 2610, 2611, 2612, 2613, 2614, 2615, 2616, 2617, 2618, 2619, 2700, 2701, 2702, 2703, 2704, 2705, 2706, 2707, 2708, 2709, 2710, 2711, 2712, 2713, 2714, 2715, 2716, 2717, 2718, 2719, 2720, 2721, 2722, 2723, 2724, 2725, 2726, 2727, 2728, 2729, 2730, 2731, 2732, 2733, 2734, 2735, 2736, 2737, 2738, 2739, 2740, 2741, 2742, 2743, 2744, 2745, 2746, 2747, 2748, 2749, 2750, 2751, 2752, 2753, 2754, 2755, 2756, 2757, 2758, 2759, 2760, 2761, 2762, 2763, 2764, 2765, 2767, 2768, 2769, 2770, 2771, 2772, 2773, 2774, 2775, 2776, 2777, 2778, 2779, 2780, 2781, 2782, 2783, 2784, 2785, 2786, 2787, 2788, 2789, 2790, 2791, 2792, 2793, 2794, 2795, 2796, 2797, 2798, 2799, 2800, 2801, 2802, 2803, 2804, 2805, 2806, 2807, 2808, 2809, 2810, 2811, 2812, 2813, 2814, 2815, 2816, 2817, 2818, 2819, 2820, 2821, 2822, 2823, 2824, 2825, 2826, 2827, 2828, 2829, 2830, 2831, 2832, 2833, 2834, 2835, 2836, 2837, 2838, 2839, 2840, 2841, 2842, 2843, 2844, 2845, 2846, 2847, 2848, 2849, 2850, 2851, 2852, 2853, 2854, 2855, 2856, 2857, 2858, 7000, 7001, 7002, 7003, 7004, 7005, 7006, 7007, 7008, 7009, 7010, 7011, 7012, 7013, 7014, 7015, 7016, 7017, 7018, 7019, 7020, 7021, 7022, 7023, 7024, 7025, 7026, 7027, 7028, 7029, 7030, 7031, 7032, 7033, 7034, 7035, 7036, 7037, 7038, 7039, 7040, 7041, 7042, 7043, 7044, 7045, 7046, 7047, 7048, 7049, 7050, 7051, 7052, 7053, 7054, 7055, 7056, 7057, 7058, 7059, 7060, 7061, 7062, 7063, 7064, 7065, 7066, 7067, 7068, 7069, 7070, 7071, 7072, 7073, 7074, 7075, 7076, 7077, 7078, 7079, 7080, 7081, 7082, 7083, 7084, 7085, 7086, 7087, 7088, 7089, 7090, 7091, 7092, 7093, 7094, 7095, 7096, 7097, 7098, 7099, 7100, 7101, 7102, 7103, 7104, 7105, 7106, 7107, 7108, 7109, 7110, 7111, 7112, 7113, 7114, 7115, 7116, 7117, 7118, 7119, 7120, 7121, 7122, 7123, 7124, 7125, 7126, 7127, 7128, 7129, 7130, 7131, 7132, 7133, 7134, 7400, 7401, 7402, 7403, 7404, 7405, 7406, 7407, 7408, 7409, 7410, 7411, 7412, 7413, 7414, 7415, 7416, 7417, 7418, 7419, 7420, 7421, 7422, 7423, 7424, 7425, 7426, 7427, 7428, 7429, 7430, 7431, 7432, 7433, 7434, 7435, 7436, 7437, 7438, 7439, 7440, 7441, 7442, 7443, 7444, 7445, 7446, 7447, 7448, 7449, 7500, 7501, 7502, 7503, 7504, 7505, 7506, 7507, 7508, 7509, 7510, 7511, 7512, 7513, 7514, 7515, 7516, 7517, 7518, 7519, 7520, 7521, 7522, 7523, 7524, 7525, 7526, 7527, 7528, 7529, 7530, 7531, 7532, 7533, 7534, 7535, 7536, 7537, 7538, 7539, 7540, 7541, 7542, 7543, 7544, 7545, 7546, 7547, 7548, 7549, 7550, 7551, 7552, 7553, 7554, 7555, 7556, 7557, 7558, 7559, 7560, 7561, 7562, 7563, 7564, 7565, 7566, 7567, 7568, 7569, 7570, 7571, 7572, 7573, 7574, 7575, 7576, 7577, 7578, 7579, 7580, 7581, 7582, 7583, 7584, 7585, 7586, 7587, 7588, 7589, 7590, 7591, 7592, 7593, 7594, 7595, 7596, 7597, 7598, 7599, 7600, 7601, 7602, 7603, 7604, 7605, 7606, 7607, 7608, 7609, 7610, 7611, 7612, 7613, 7614, 7615, 7616, 7617, 7618, 7619, 7620, 7621, 7622, 7623, 7624, 7625, 7626, 7627, 7628, 7629, 7630, 7631, 7632, 7633, 7634, 7635, 7636, 7637, 7638, 7639, 7640, 7641, 7642, 7643, 7644, 7645, 7646, 7647, 7648, 7649, 7650, 7651, 7652, 7653, 7654, 7655, 7656, 7657, 7658, 7659, 7660, 7661, 7662, 7663, 7664, 7665, 7666, 7667, 7668, 7669, 7670, 7671, 7672, 7673, 7674, 7675, 7676, 7677, 7678, 7679, 7680, 7681, 7682, 7683, 7684, 7685, 7686, 7687, 7688, 7689, 7690, 7691, 7692, 7693, 7694, 7695, 7696, 7697, 7698, 7699, 7700, 7701, 7702, 7703, 7704, 7705, 7706, 7707, 7708, 7709, 7710, 7711, 7712, 7713, 7714, 7715, 7716, 7717, 7718, 7719, 7720, 7721, 7722, 7723, 7724, 7725, 7726, 7727, 7728, 7729, 7730, 7731, 7732, 7733, 7734, 7735, 7736, 7737, 7738, 7739, 7740, 7741, 7742, 7743, 7744, 7745, 7746, 7747, 7748, 7749, 7750, 7751, 7752, 7753, 7754, 7755, 7756, 7757, 7758, 7759, 7760, 7761, 7762, 7763, 7764, 7765, 7766, 7767, 7768, 7769, 7770, 7771, 7772, 7773, 7774, 7775, 7776, 7777, 7778, 7779, 7780, 7781, 7782, 7783, 7784, 7785, 7786, 7787, 7788, 7789, 7790, 7791, 7792, 7793, 7794, 7795, 7796, 7797, 7798, 7799, 7800, 7801, 7802, 7803, 7804, 7805, 7806, 7807, 7808, 7809, 7810, 7811, 7812, 7813, 7814, 7815, 7816, 7817, 7818, 7819, 7820, 7821, 7822, 7823, 7824, 7825, 7826, 7827, 7828, 7829, 7830, 7831, 7832, 7833, 7834, 7835, 7836, 7837, 7838, 7839, 7840, 7841, 7842, 7843, 7844, 7845, 7846, 7847, 7848, 7849, 7850, 7851, 7852, 7853, 7854, 7855, 7856, 7857, 7858, 7859, 7860, 7861, 7862, 7863, 7864, 7865, 7866, 7867, 7868, 7869, 7870, 7871, 7872, 7873, 7874, 7875, 7876, 7877, 7878, 7879, 7880, 7881, 8000, 8001, 8002, 8003, 8004, 8005, 8006, 8007, 8008, 8009, 8010, 8011, 8012, 8013, 8014, 8015, 8016, 8017, 8018, 8019, 8020, 8021, 8022, 8023, 8024, 8025, 8026, 8027, 8028, 8029, 8030, 8031, 8032, 8033, 8034, 8035, 8036, 8037, 8038, 8039, 8040, 8041, 8042, 8043, 8044, 8045, 8046, 8047, 8048, 8049, 8050, 8051, 8052, 8053, 8054, 8055, 8056, 8057, 8058, 8059, 8060, 8061, 8062, 8063, 8064, 8065, 8066, 8067, 8068, 8069, 8070, 8071, 8072, 8073, 8074, 8075, 8076, 8077, 8078, 8079, 8080, 8081, 8082, 8083, 8084, 8085, 8086, 8087, 8088, 8089, 8090, 8091, 8092, 8093, 8094, 8095, 8096, 8097, 8098, 8099, 9000, 9001, 9002, 9003, 9004, 9005, 9006, 9007, 9008, 9009, 9010, 9011, 9012, 9013, 9014, 9015, 9016, 9017, 9018, 9019, 9020, 9021, 9022, 9023, 9024, 9025, 9026]

# Vehicles that are not legitimate subjects of streetcar incidents
The following vehicles are not legitimate subjects of streetcar incidents because they run on completely separate tracks (RT and subway) or they have been retired (6xxx buses).

- RT cars 3xxx: https://cptdb.ca/wiki/index.php/Toronto_Transit_Commission_3000-3027
- Subway cars 5xxx https://cptdb.ca/wiki/index.php/Toronto_Transit_Commission_5000-5371
- Retired Buses 6xxx: https://cptdb.ca/wiki/index.php/Toronto_Transit_Commission_6000-6122

In [3]:
# load the valid list of TTC Streetcar routes
valid_routes = ['501','502','503','504','505','506','509','510','511','512','301','304','306','310']

In [4]:
valid_routes

['501',
 '502',
 '503',
 '504',
 '505',
 '506',
 '509',
 '510',
 '511',
 '512',
 '301',
 '304',
 '306',
 '310']

In [5]:
# original valid directions
# valid_directions = ['E/B','W/B','N/B','S/B','B/W']
# revised valid directions to include lowercasing and removal of '/' and simplify to single letter
valid_directions = ['e','w','n','s','b']

In [6]:
valid_days = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

In [7]:
! pwd

/storage/manning/notebooks

# Load and Save Data
- parse list of XLS files 
- load XLS files, tab by tab, into dataframe
- pickle dataframe for future runs

In [71]:
# variables to control function of this notebook
# control whether to load data from scratch from original source or from saved dataframe
load_from_scratch = False
# control whether to save dataframe with transformed data
save_transformed_dataframe = True
# control whether rows containing erroneous values are removed from the saved dataset
remove_bad_values = True

In [17]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
# import seaborn as sns
import datetime
import os

In [72]:
# get the directory for that this notebook is in
rawpath = os.getcwd()
print("raw path is",rawpath)

raw path is /storage/manning/notebooks

In [73]:
# data is in a directory called "data" that is a sibling to the directory containing the notebook
# this code assumes you have copied to this directory all the XLS files from the source dataset: https://www.toronto.ca/city-government/data-research-maps/open-data/open-data-catalogue/#e8f359f0-2f47-3058-bf64-6ec488de52da
path = os.path.abspath(os.path.join(rawpath, '..', 'data')) + "/"
print("path is", path)

path is /storage/manning/data/

In [74]:
# pickled_dataframe = '20142018_df.pkl'
pickled_input_dataframe = '2014_2018.pkl'
# pickled_output_dataframe = '2014_2018_df.pkl'
pickled_output_dataframe = '2014_2018_df_cleaned_remove_bad_apr23.pkl'
# path,picklename,firstfile, firstsheet

In [75]:
# given a path return the list of xls files in the directory
def get_xls_list(path):
    files = os.listdir(path)
    files_xls = [f for f in files if f[-4:] == 'xlsx']
    print(files)
    print(files_xls)
    return(files_xls)

In [76]:
# load all the tabs of all the XLS files in a list of XLS files, minus tab that has seeded dataframe
def load_xls(path, files_xls, firstfile, firstsheet, df):
    for f in files_xls:
        print("file name",f)
        xlsf = pd.ExcelFile(path+f)
        # iterate through sheets
        for sheet_name in xlsf.sheet_names:
            print("sheet_name",sheet_name)
            if (f != firstfile) or (sheet_name != firstsheet):
                print("sheet_name in loop",sheet_name)
                data = pd.read_excel(path+f,sheetname=sheet_name)    
                df = df.append(data)
    return (df)

In [77]:
# given a path and a filename, load all the XLS files in the path into a dataframe and save
# to the dataframe to the filename
def reloader(path,picklename):
    # get list of all xls files in the path
    files_xls = get_xls_list(path)
    print("list of xls",files_xls)
    # seed initial tab on initial xls file
    dfnew = pd.read_excel(path+files_xls[0])
    # get the list of sheets in the first file
    xlsf = pd.ExcelFile(path+files_xls[0])
    # load the remaining tabs from all the other xls
    # pass the first file (files_xls[0]) and the first tab in that file (xlsf[0]) explicitly
    dflatest = load_xls(path,files_xls,files_xls[0],xlsf.sheet_names[0], dfnew)
    # save dataframe to pickle
    dflatest.to_pickle(path+ picklename)
    # return dataframe loaded with all tabs of all xls files
    return(dflatest)

In [78]:
# define categories for input columns
def define_feature_categories(df):
    allcols = list(df)
    print("all cols",allcols)
    textcols = ['Incident','Location'] # 
    continuouscols = ['Min Delay','Min Gap'] 
                      # columns to deal with as continuous values - no embeddings
    timecols = ['Report Date','Time']
    collist = ['Day','Vehicle','Route','Direction']
    for col in continuouscols:
        df[col] = df[col].astype(float)
    print('texcols: ',textcols)
    print('continuouscols: ',continuouscols)
    print('timecols: ',timecols)
    print('collist: ',collist)
    return(allcols,textcols,continuouscols,timecols,collist)

In [79]:
# fill missing values according to the column category
def fill_missing(dataset):
    print("before mv")
    for col in collist:
        dataset[col].fillna(value="missing", inplace=True)
    for col in continuouscols:
        dataset[col].fillna(value=0.0,inplace=True)
    for col in textcols:
        dataset[col].fillna(value="missing", inplace=True)
    return (dataset)

# Load dataframe
- load pickled dataframe
- show info about the dataset

In [80]:
# read in previously pickled dataframe containing data from s/s 2014 - 2018
if load_from_scratch:
    unpickled_df = reloader(path,pickled_input_dataframe)
    print("reloader done")
    #unpickled_df = pd.read_pickle(path+pickled_data_file)
else:
    unpickled_df = pd.read_pickle(path+pickled_input_dataframe)

In [81]:
df = unpickled_df
df.head()

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2016-01-01,505,00:00:00,Friday,Dundas West stnt to Broadview stn,General Delay,7.0,14.0,W/B,4028.0
1,2016-01-01,511,02:14:00,Friday,Fleet St. and Strachan Ave.,Mechanical,10.0,20.0,E/B,4018.0
2,2016-01-01,301,02:22:00,Friday,Queen St. West and Roncesvalles Ave.,Mechanical,9.0,18.0,W/B,4201.0
3,2016-01-01,301,03:28:00,Friday,Lake Shore Blvd. and Superior St.,Mechanical,20.0,40.0,E/B,4251.0
4,2016-01-01,501,14:28:00,Friday,Roncy to Neville Park,Mechanical,6.0,12.0,E/B,4242.0

# General cleanup
- correct types for Route and Vehicle
- fill missing values
- create report-date-time index

In [82]:
# ensure Route and Vehicle are strings, not numeric
# df = df.astype({"Route": str, "Vehicle": int})
df['Route'] = df['Route'].astype(str)
df['Vehicle'] = df['Vehicle'].astype(str)
# df['filename'] = df['filename'].str[:-4]
df['Vehicle'] = df['Vehicle'].str[:-2]
df.head()

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2016-01-01,505,00:00:00,Friday,Dundas West stnt to Broadview stn,General Delay,7.0,14.0,W/B,4028
1,2016-01-01,511,02:14:00,Friday,Fleet St. and Strachan Ave.,Mechanical,10.0,20.0,E/B,4018
2,2016-01-01,301,02:22:00,Friday,Queen St. West and Roncesvalles Ave.,Mechanical,9.0,18.0,W/B,4201
3,2016-01-01,301,03:28:00,Friday,Lake Shore Blvd. and Superior St.,Mechanical,20.0,40.0,E/B,4251
4,2016-01-01,501,14:28:00,Friday,Roncy to Neville Park,Mechanical,6.0,12.0,E/B,4242

In [83]:
# define categories
allcols,textcols,continuouscols,timecols,collist = define_feature_categories(df)

all cols ['Report Date', 'Route', 'Time', 'Day', 'Location', 'Incident', 'Min Delay', 'Min Gap', 'Direction', 'Vehicle']
texcols:  ['Incident', 'Location']
continuouscols:  ['Min Delay', 'Min Gap']
timecols:  ['Report Date', 'Time']
collist:  ['Day', 'Vehicle', 'Route', 'Direction']

In [84]:
# get the number of missing values for the columns
df.isnull().sum(axis = 0)

Report Date      0
Route            0
Time             0
Day              0
Location       234
Incident         0
Min Delay       54
Min Gap         75
Direction      210
Vehicle          0
dtype: int64

In [85]:
# fill in missing values
df = fill_missing(df)

before mv

In [86]:
# getting some information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69603 entries, 0 to 873
Data columns (total 10 columns):
Report Date    69603 non-null datetime64[ns]
Route          69603 non-null object
Time           69603 non-null object
Day            69603 non-null object
Location       69603 non-null object
Incident       69603 non-null object
Min Delay      69603 non-null float64
Min Gap        69603 non-null float64
Direction      69603 non-null object
Vehicle        69603 non-null object
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 5.8+ MB

In [87]:
# getting some information about dataset
df.shape

(69603, 10)

In [88]:
# further Analysis 
df.describe()

          Min Delay       Min Gap
count  69603.000000  69603.000000
mean      12.687672     18.127926
std       29.772404     33.610537
min        0.000000      0.000000
25%        5.000000      9.000000
50%        6.000000     12.000000
75%       12.000000     20.000000
max     1400.000000   4216.000000

In [89]:
df.dtypes

Report Date    datetime64[ns]
Route                  object
Time                   object
Day                    object
Location               object
Incident               object
Min Delay             float64
Min Gap               float64
Direction              object
Vehicle                object
dtype: object

In [90]:
# create new column combing date + time (needed for resampling) and make it the index

df['Report Date Time'] = pd.to_datetime(df['Report Date'].astype(str) + ' ' + df['Time'].astype(str))
df.index = df['Report Date Time']
df.head()

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,Report Date Time
Report Date Time,,,,,,,,,,,
2016-01-01 00:00:00,2016-01-01,505,00:00:00,Friday,Dundas West stnt to Broadview stn,General Delay,7.0,14.0,W/B,4028,2016-01-01 00:00:00
2016-01-01 02:14:00,2016-01-01,511,02:14:00,Friday,Fleet St. and Strachan Ave.,Mechanical,10.0,20.0,E/B,4018,2016-01-01 02:14:00
2016-01-01 02:22:00,2016-01-01,301,02:22:00,Friday,Queen St. West and Roncesvalles Ave.,Mechanical,9.0,18.0,W/B,4201,2016-01-01 02:22:00
2016-01-01 03:28:00,2016-01-01,301,03:28:00,Friday,Lake Shore Blvd. and Superior St.,Mechanical,20.0,40.0,E/B,4251,2016-01-01 03:28:00
2016-01-01 14:28:00,2016-01-01,501,14:28:00,Friday,Roncy to Neville Park,Mechanical,6.0,12.0,E/B,4242,2016-01-01 14:28:00

# Clean up selected columns
Some values in the input dataset were entered "free form" when they should have been constricted to a pick list. Columns with this problem include:

- Route
- Vehicle
- Direction
- Location


Each of these have a finite set of valid values. We have to fix the data in these columns where multiple tokens have been used to signify the same real-world entity (e.g. "roncesvalles yard." and "roncesvalles carhouse", or where incorrect values have been entered (e.g. Direction that does not correspond with a compass point)

# Clean up Route

In [91]:
def check_route (x):
    if x in valid_routes:
        return(x)
    else:
        return("bad route")

In [92]:
print("route count",df['Route'].nunique())
df['Route'].value_counts()

route count 106

501    17384
504    13416
506     9434
505     7471
512     5327
510     4516
511     3550
509     2457
514     1500
502     1488
503      917
301      750
306      312
705      189
304      171
805      149
508      137
50        45
535       41
310       40
317       37
51        20
5         20
807       20
1         16
500       10
4          9
3          8
11         8
201        7
       ...
205        1
999        1
594        1
513        1
701        1
13         1
403        1
31         1
519        1
68         1
405        1
80         1
45         1
60         1
21         1
596        1
595        1
204        1
64         1
86         1
111        1
28         1
53         1
830        1
57         1
210        1
93         1
81         1
375        1
85         1
Name: Route, Length: 106, dtype: int64

In [93]:
print("route count pre cleanup",df['Route'].nunique())

route count pre cleanup 106

In [94]:
# apply(lambda x:findEmpty(x) df['Route'].apply(lambda x:check_route(x))
df['Route'] = df['Route'].apply(lambda x:check_route(x))

In [95]:
print("route count post cleanup",df['Route'].nunique())
df['Route'].value_counts()

route count post cleanup 15

501          17384
504          13416
506           9434
505           7471
512           5327
510           4516
511           3550
509           2457
bad route     2370
502           1488
503            917
301            750
306            312
304            171
310             40
Name: Route, dtype: int64

# Clean up Vehicle

In [96]:
df[df.Vehicle == 'n'].shape[0]

4461

In [97]:
df['Vehicle'].shape[0]

69603

In [98]:
def check_vehicle (x):
    if str.isdigit(x):
        if int(x) in valid_vehicles:
            return x
        else:
            return("bad vehicle")
    else:
        return("bad vehicle")

In [99]:
df['Vehicle'].value_counts()

n       4461
4074     275
4101     269
4199     263
4115     259
4247     257
4209     254
4144     253
4147     251
4176     249
4001     248
4218     247
4185     246
4141     246
4149     246
4222     244
4050     244
4111     243
4229     243
4403     243
4110     242
4189     241
4048     240
4012     240
4214     240
4204     239
4200     238
4077     237
4215     237
4184     237
        ...
5918       1
1328       1
7920       1
1266       1
7360       1
5163       1
8586       1
406        1
1232       1
7610       1
8694       1
6875       1
1321       1
7562       1
8504       1
7572       1
8690       1
7688       1
7656       1
7520       1
7310       1
7312       1
7449       1
8425       1
7352       1
8696       1
7583       1
4009       1
8680       1
5041       1
Name: Vehicle, Length: 2438, dtype: int64

In [100]:
print("vehicle count pre cleanup",df['Vehicle'].nunique())
df['Vehicle'] = df['Vehicle'].apply(lambda x:check_vehicle(x))
print("vehicle count post cleanup",df['Vehicle'].nunique())
df['Vehicle'].value_counts()

vehicle count pre cleanup 2438
vehicle count post cleanup 1017

bad vehicle    11221
4074             275
4101             269
4199             263
4115             259
4247             257
4209             254
4144             253
4147             251
4176             249
4001             248
4218             247
4141             246
4149             246
4185             246
4222             244
4050             244
4229             243
4111             243
4403             243
4110             242
4189             241
4012             240
4214             240
4048             240
4204             239
4200             238
4077             237
4215             237
4184             237
               ...
7613               1
7615               1
7692               1
2342               1
7408               1
1106               1
7028               1
8066               1
7428               1
1088               1
7417               1
7619               1
7597               1
7645               1
7663               1
7688               1
7558               1
7684               1
7519               1
7623               1
7129               1
7554               1
7420               1
7541               1
7407               1
8011               1
7440               1
7438               1
7404               1
7432               1
Name: Vehicle, Length: 1017, dtype: int64

# Clean up Direction

In [101]:
def check_direction (x):
    if x in valid_directions:
        return(x)
    else:
        return("bad direction")

In [102]:
df['Direction'].shape[0]

69603

In [103]:
# prior to cleanup of the Direction column, get a look at the values
df['Direction'].value_counts()

W/B                            27493
E/B                            26889
N/B                             4946
S/B                             4743
B/W                             4613
missing                          210
eb                               164
EB                               135
WB                               102
wb                                98
SB                                16
nb                                16
NB                                15
EW                                11
sb                                11
eastbound                          8
bw                                 7
w/b                                6
5                                  6
w                                  6
E                                  4
BW                                 4
ew                                 3
b/w                                3
10                                 3
Service adjusted.                  3
8                                  3
W                                  3
2                                  3
s                                  3
                               ...
N                                  1
EB/WB                              1
12                                 1
.                                  1
14                                 1
gap                                1
s/b                                1
ee                                 1
southbound                         1
20                                 1
n/b                                1
sw                                 1
Relief Operator. Ga                1
5                       W/B        1
510                                1
1573                               1
\5                                 1
eb``                               1
N/S                                1
(Ref                               1
13                                 1
`                                  1
1114                               1
\                                  1
wruiter adv                        1
e/w                                1
7                                  1
0                                  1
68029                              1
E5                                 1
Name: Direction, Length: 95, dtype: int64

In [104]:
# to have consistent checking of directions: lowercase and remove '/'
print("Unique directions before cleanup:",df['Direction'].nunique())
df['Direction'] = df['Direction'].str.lower()
df['Direction'] = df['Direction'].str.replace('/','')
df['Direction'] = df['Direction'].replace({'eb':'e','wb':'w','sb':'s','nb':'n','bw':'b'})
df['Direction'] = df['Direction'].replace({'eastbound':'e','westbound':'w','southbound':'s','northbound':'n'})
# replace any remaining bad Direction values with a common token
df['Direction'] = df['Direction'].apply(lambda x:check_direction(x))
print("Unique directions after cleanup:",df['Direction'].nunique())

Unique directions before cleanup: 95
Unique directions after cleanup: 6

In [105]:
print("Unique directions after cleanup:",df['Direction'].nunique())

Unique directions after cleanup: 6

In [106]:
print("direction count",df['Direction'].nunique())
df['Direction'].value_counts()

direction count 6

w                27712
e                27205
n                 4980
s                 4775
b                 4629
bad direction      302
Name: Direction, dtype: int64

In [107]:
df.head()

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,Report Date Time
Report Date Time,,,,,,,,,,,
2016-01-01 00:00:00,2016-01-01,505,00:00:00,Friday,Dundas West stnt to Broadview stn,General Delay,7.0,14.0,w,4028,2016-01-01 00:00:00
2016-01-01 02:14:00,2016-01-01,511,02:14:00,Friday,Fleet St. and Strachan Ave.,Mechanical,10.0,20.0,e,4018,2016-01-01 02:14:00
2016-01-01 02:22:00,2016-01-01,301,02:22:00,Friday,Queen St. West and Roncesvalles Ave.,Mechanical,9.0,18.0,w,4201,2016-01-01 02:22:00
2016-01-01 03:28:00,2016-01-01,301,03:28:00,Friday,Lake Shore Blvd. and Superior St.,Mechanical,20.0,40.0,e,4251,2016-01-01 03:28:00
2016-01-01 14:28:00,2016-01-01,501,14:28:00,Friday,Roncy to Neville Park,Mechanical,6.0,12.0,e,4242,2016-01-01 14:28:00

# Clean up Location

In [108]:
def clean_conjunction(intersection):
    # make conjunctions in intersections consistent
    if " and " not in intersection:
        if "&" in intersection:
            if " & " in intersection:
                intersection.replace(" & "," and ")
            else:
                if "&" in intersection:
                    intersection.replace("&"," and ")
        else:
            if " / " in intersection:
                intersection.replace(" / "," and ")
            else:
                if "/" in intersection:
                    intersection.replace("/"," and ")
    return(intersection)

In [109]:
def order_location(intersection):
    # for any string with the format "* and *" if the value before the and is alphabetically
    # higher than the value after the and, swap the values
    conj = " and "
    alpha_ordered_intersection = intersection
    if conj in intersection:
        end_first_street = intersection.find(conj)
        if (end_first_street > 0) and (len(intersection) > (end_first_street + len(conj))):
            start_second_street = intersection.find(conj) + len(conj)
            first_street = intersection[0:end_first_street]
            second_street = intersection[start_second_street:]
            alpha_ordered_intersection = min(first_street,second_street)+conj+max(first_street,second_street)
    return(alpha_ordered_intersection)

In [110]:
df['Location'].value_counts().head(100)

Russell Yard                 1070
Queen and Connaught           980
Leslie Barns                  790
Roncesvalles Yard             776
Queen and Roncesvalles        749
Roncesvalles and Queen        729
Roncy Yard                    630
Queen at Connaught            539
Broadview and Queen           506
Broadview Station             479
Dundas West Station           458
Humber Loop                   451
CNE Loop                      414
Broadview Stn                 398
Spadina and King              397
Queen and Broadview           372
Roncesvalles Yard.            371
Coxwell and Gerrard           342
King and Spadina              340
Neville Loop                  323
Queen at Roncesvalles         319
Main Station                  303
Bingham Loop                  297
Broadview and Dundas          292
Russell yard                  279
Ronc. Carhouse.               268
Bathurst Station              258
Roncy yard                    257
Spadina Station               242
Exhibition Loop               239
                             ...
CNE LOOP                      112
Dundas and Broadview          111
Wilson Garage                 111
Queen and Church              111
Roncesvalles yard             111
Queensway at Roncesvalles     111
College and Spadina           107
Queen St E and Leslie St      107
King and Church               105
Dundas and Parliament         104
Dundas and Bathurst           102
Queen and Shaw                101
Russell Carhouse               98
Queen and Dufferin             97
Spadina and Dundas             96
St Clair West Station          96
King and Sumach                95
Queen at Broadview             95
Main Stn                       94
Spadina and Queens Quay        92
Bathurst and Dundas            90
Roncesvalles at Queen          89
Queen & Connaught              89
King/Spadina                   89
Birchmount Garage              88
Sunnyside Loop                 88
Broadview and Danforth         87
Lansdowne                      87
Queen and Coxwell              86
Dundas west station            85
Name: Location, Length: 100, dtype: int64

In [111]:
# the values in the location column were entered in free form, so there are several problems to fix

# start by counting the distinct values in location column before and after lowercasing
print("Location count pre cleanup:",df['Location'].nunique())
print("Route count pre cleanup:",df['Route'].nunique())
print("Direction count pre cleanup:",df['Direction'].nunique())
print("Vehicle count pre cleanup:",df['Vehicle'].nunique())
df['Location'] = df['Location'].str.lower()
print("Unique Location values after lcasing:",df['Location'].nunique())
df['Location'].value_counts().head(100)

Location count pre cleanup: 15691
Route count pre cleanup: 15
Direction count pre cleanup: 6
Vehicle count pre cleanup: 1017
Unique Location values after lcasing: 13263

russell yard                 1436
queen and connaught          1045
roncy yard                    936
roncesvalles yard             905
leslie barns                  841
queen and roncesvalles        768
roncesvalles and queen        766
broadview station             703
dundas west station           694
cne loop                      688
humber loop                   619
broadview stn                 562
queen at connaught            549
broadview and queen           534
roncesvalles yard.            425
spadina and king              424
main station                  405
coxwell and gerrard           392
queen and broadview           388
neville loop                  385
king and spadina              376
dundas west stn               371
bathurst station              370
bingham loop                  366
spadina station               358
queen at roncesvalles         326
broadview and dundas          308
exhibition loop               279
ronc. carhouse.               271
high park loop                256
                             ...
king/spadina                  124
king and parliament           121
dundas and broadview          119
birchmount garage             119
college and spadina           115
queensway at roncesvalles     114
dundas and parliament         113
queen st e and leslie st      113
king and church               112
sunnyside loop                111
dundas and bathurst           109
queen and shaw                107
king and sumach               106
spadina/king                  103
union station                 103
queen and dufferin            101
spadina and dundas            100
scw stn                        99
springhurst loop               98
king and shaw                  98
queen at broadview             97
bathurst and dundas            97
st clair station               96
broadview and danforth         95
spadina and queens quay        95
charlotte loop                 92
roncesvalles at queen          91
lansdowne                      91
queen and coxwell              91
queen & connaught              90
Name: Location, Length: 100, dtype: int64

In [112]:
# count subset of locations that are explicitly junctions
# df[df['regiment'].str.contains(r"\bgoons\b", case = False)]
df[df['Location'].str.contains(" and ")].shape

(26537, 11)

In [113]:
df['Location'].shape

(69603,)

In [114]:
# make substitutions to eliminate obvious duplicate tokens, counting unique values before and after
# need to add a function to flip "x and y" consistently
print("Unique Location values before substitutions:",df['Location'].nunique())
df['Location'] = df['Location'].replace({'broadviewstation':'broadview station',' at ':' and ',' stn':' station',' ave.':'','/':' and ','roncy':'roncesvalles','carhouse':'yard','yard.':'yard','st. clair':'st clair','ronc. ':'roncesvalles ','long branch':'longbranch','garage':'yard','barns':'yard',' & ':' and '}, regex=True)
print("Unique Location values after substitutions:",df['Location'].nunique())
df['Location'].value_counts().head(50)

Unique Location values before substitutions: 13263
Unique Location values after substitutions: 10867

roncesvalles yard               3229
queen and connaught             1840
russell yard                    1642
roncesvalles and queen          1423
broadview station               1265
queen and roncesvalles          1257
dundas west station             1065
leslie yard                      911
broadview and queen              693
cne loop                         688
spadina and king                 628
humber loop                      619
king and spadina                 610
bathurst station                 596
queen and broadview              582
main station                     549
spadina station                  546
broadview and dundas             489
longbranch loop                  475
coxwell and gerrard              465
st clair west station            423
king and bathurst                385
neville loop                     385
bathurst and king                368
bingham loop                     366
broadview and gerrard            347
howard park and roncesvalles     296
bathurst and fleet               291
gerrard and coxwell              289
exhibition loop                  279
queen and parliament             268
queen and spadina                265
high park loop                   256
fleet loop                       251
roncesvalles and howard park     248
gunns loop                       237
king and church                  236
missing                          234
bathurst and st clair            230
dundas and broadview             228
queen and church                 223
queen and bathurst               222
king and dufferin                222
st clair station                 221
king and parliament              219
st clair and bathurst            218
neville park loop                216
gerrard and broadview            216
spadina and queen                213
connaught and queen              206
Name: Location, dtype: int64

In [115]:
# put intersection values into consistent order
print("Unique Location values:",df['Location'].nunique())
df['Location'] = df['Location'].apply(lambda x:order_location(x))
print("Location values post cleanup:",df['Location'].nunique())
df['Location'].value_counts().head(100)

Unique Location values: 10867
Location values post cleanup: 10074

roncesvalles yard               3229
queen and roncesvalles          2680
connaught and queen             2046
russell yard                    1642
broadview and queen             1275
broadview station               1265
king and spadina                1238
dundas west station             1065
leslie yard                      911
coxwell and gerrard              754
bathurst and king                753
broadview and dundas             717
cne loop                         688
humber loop                      619
bathurst station                 596
broadview and gerrard            563
main station                     549
spadina station                  546
howard park and roncesvalles     544
queen and spadina                478
longbranch loop                  475
bathurst and st clair            448
st clair west station            423
bathurst and fleet               407
bathurst and queen               395
neville loop                     385
bingham loop                     366
parliament and queen             360
bathurst and dundas              351
king and parliament              316
                                ...
bay and queen                    141
bay and king                     141
wilson yard                      138
jarvis and queen                 136
leslie and queen                 135
lansdowne and st clair           135
college and lansdowne            131
queen and university             130
bay and dundas                   129
dundas and howard park           127
parliament                       126
king and yonge                   125
scw station                      123
john and king                    122
birchmount yard                  121
kingston rd and queen            120
king and queen                   118
dundas and ossington             116
king and portland                115
kingston and queen               113
leslie st and queen st e         113
jarvis and king                  111
sunnyside loop                   111
queen and victoria               110
dundas and university            110
king and university              110
bathurst and st.clair            108
kipling and lakeshore            108
oakwood and st clair             105
dundas and mccaul                104
Name: Location, Length: 100, dtype: int64

In [116]:
df['Location'].value_counts().head(80)

roncesvalles yard                           3229
queen and roncesvalles                      2680
connaught and queen                         2046
russell yard                                1642
broadview and queen                         1275
broadview station                           1265
king and spadina                            1238
dundas west station                         1065
leslie yard                                  911
coxwell and gerrard                          754
bathurst and king                            753
broadview and dundas                         717
cne loop                                     688
humber loop                                  619
bathurst station                             596
broadview and gerrard                        563
main station                                 549
spadina station                              546
howard park and roncesvalles                 544
queen and spadina                            478
longbranch loop                              475
bathurst and st clair                        448
st clair west station                        423
bathurst and fleet                           407
bathurst and queen                           395
neville loop                                 385
bingham loop                                 366
parliament and queen                         360
bathurst and dundas                          351
king and parliament                          316
                                            ...
dufferin and queen                           201
king and sumach                              193
king and shaw                                192
roncesvalles                                 185
queen and yonge                              173
dundas and lansdowne                         165
bay and college                              164
dundas west station to broadview station     159
dws                                          155
dufferin loop                                154
king and roncesvalles                        154
high park station                            154
union station                                153
gerrard and parliament                       152
broadview and danforth                       148
queen and river                              148
dundas and roncesvalles                      147
dundas and yonge                             147
mccaul and queen                             147
carlaw and queen                             145
bay and queen                                141
bay and king                                 141
wilson yard                                  138
jarvis and queen                             136
leslie and queen                             135
lansdowne and st clair                       135
college and lansdowne                        131
queen and university                         130
bay and dundas                               129
dundas and howard park                       127
Name: Location, Length: 80, dtype: int64

In [117]:
df.head()

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,Report Date Time
Report Date Time,,,,,,,,,,,
2016-01-01 00:00:00,2016-01-01,505,00:00:00,Friday,dundas west stationt to broadview station,General Delay,7.0,14.0,w,4028,2016-01-01 00:00:00
2016-01-01 02:14:00,2016-01-01,511,02:14:00,Friday,fleet st. and strachan,Mechanical,10.0,20.0,e,4018,2016-01-01 02:14:00
2016-01-01 02:22:00,2016-01-01,301,02:22:00,Friday,queen st. west and roncesvalles,Mechanical,9.0,18.0,w,4201,2016-01-01 02:22:00
2016-01-01 03:28:00,2016-01-01,301,03:28:00,Friday,lake shore blvd. and superior st.,Mechanical,20.0,40.0,e,4251,2016-01-01 03:28:00
2016-01-01 14:28:00,2016-01-01,501,14:28:00,Friday,roncesvalles to neville park,Mechanical,6.0,12.0,e,4242,2016-01-01 14:28:00

# Remove bad rows

In [118]:
print("Location count post cleanup:",df['Location'].nunique())
print("Route count post cleanup:",df['Route'].nunique())
print("Direction count post cleanup:",df['Direction'].nunique())
print("Vehicle count post cleanup:",df['Vehicle'].nunique())
# print("Bad Location count":df[df.Vehicle == 'bad vehicle'].shape[0])
print("Bad route count:",df[df.Route == 'bad route'].shape[0])
print("Bad direction count:",df[df.Direction == 'bad direction'].shape[0])
print("Bad vehicle count:",df[df.Vehicle == 'bad vehicle'].shape[0])

Location count post cleanup: 10074
Route count post cleanup: 15
Direction count post cleanup: 6
Vehicle count post cleanup: 1017
Bad route count: 2370
Bad direction count: 302
Bad vehicle count: 11221

In [119]:
# remove rows with bad vehicle value
if remove_bad_values:
    df = df[df.Vehicle != 'bad vehicle']
    df = df[df.Direction != 'bad direction']
    df = df[df.Route != 'bad route']

In [120]:
df.shape

(56205, 11)

In [121]:
# pickle the cleansed dataframe
file_name = path + pickled_output_dataframe
df.to_pickle(file_name)

In [122]:
dfn = pd.read_pickle(file_name)
dfn.head()

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,Report Date Time
Report Date Time,,,,,,,,,,,
2016-01-01 00:00:00,2016-01-01,505,00:00:00,Friday,dundas west stationt to broadview station,General Delay,7.0,14.0,w,4028,2016-01-01 00:00:00
2016-01-01 02:14:00,2016-01-01,511,02:14:00,Friday,fleet st. and strachan,Mechanical,10.0,20.0,e,4018,2016-01-01 02:14:00
2016-01-01 02:22:00,2016-01-01,301,02:22:00,Friday,queen st. west and roncesvalles,Mechanical,9.0,18.0,w,4201,2016-01-01 02:22:00
2016-01-01 03:28:00,2016-01-01,301,03:28:00,Friday,lake shore blvd. and superior st.,Mechanical,20.0,40.0,e,4251,2016-01-01 03:28:00
2016-01-01 14:28:00,2016-01-01,501,14:28:00,Friday,roncesvalles to neville park,Mechanical,6.0,12.0,e,4242,2016-01-01 14:28:00

# Visualize cleaned data

In [ ]:
!pip install pixiedust

In [ ]:
import pixiedust

In [ ]:
display(df)