# Streetcar Delay Prediction - Data Preparation Geocode Specific

Use dataset covering Toronto Transit Commission (TTC) streetcar delays 2014 - present to predict future delays and come up with recommendations for avoiding delays.

Source dataset: : https://www.toronto.ca/city-government/data-research-maps/open-data/open-data-catalogue/#e8f359f0-2f47-3058-bf64-6ec488de52da

This notebook contains the data preparation steps specific to mapping free-form location descriptions to latitude and longitude

- use the Google Maps API Web Services for Python  https://github.com/googlemaps/google-maps-services-python
- generate the latitude and longitude values for locations and create new columns in the output dataset

# Streetcar routes

From https://www.ttc.ca/Routes/Streetcars.jsp

<table style="border: none" align="left">
   </tr>
   <tr style="border: none">
       <th style="border: none"><img src="https://raw.githubusercontent.com/ryanmark1867/streetcarnov3/master/streetcar%20routes.jpg" width="600" alt="Icon"> </th>
   </tr>
</table>

In [1]:
! pwd

/storage/manning/notebooks

# Get path and load dataframe saved from previous data preparation step

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
# import seaborn as sns
import datetime
import os

remove_bad_values = False
city_name = 'Toronto'

In [3]:
# get the directory for that this notebook is in
rawpath = os.getcwd()
print("raw path is",rawpath)

raw path is /storage/manning/notebooks

In [4]:
# data is in a directory called "data" that is a sibling to the directory containing the notebook
path = os.path.abspath(os.path.join(rawpath, '..', 'data')) + "/"
print("path is", path)

path is /storage/manning/data/

In [5]:
# constants for the streetcar problem
# same values saved in data_preparation notebook: pickled_input_dataframe, pickled_output_dataframe
pickled_data_file = '2014_2018.pkl'
#pickled_dataframe = '2014_2018_df.pkl'
pickled_dataframe = '2014_2018_df_cleaned_keep_bad_apr23.pkl'
pickled_output_dataframe = '2014_2018_df_cleaned_keep_bad_loc_geocoded_apr23.pkl'

In [6]:
file_name = path + pickled_dataframe
df = pd.read_pickle(file_name)
df.head()

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,Report Date Time
Report Date Time,,,,,,,,,,,
2016-01-01 00:00:00,2016-01-01,505,00:00:00,Friday,dundas west stationt to broadview station,General Delay,7.0,14.0,w,4028,2016-01-01 00:00:00
2016-01-01 02:14:00,2016-01-01,511,02:14:00,Friday,fleet st. and strachan,Mechanical,10.0,20.0,e,4018,2016-01-01 02:14:00
2016-01-01 02:22:00,2016-01-01,301,02:22:00,Friday,queen st. west and roncesvalles,Mechanical,9.0,18.0,w,4201,2016-01-01 02:22:00
2016-01-01 03:28:00,2016-01-01,301,03:28:00,Friday,lake shore blvd. and superior st.,Mechanical,20.0,40.0,e,4251,2016-01-01 03:28:00
2016-01-01 14:28:00,2016-01-01,501,14:28:00,Friday,roncesvalles to neville park,Mechanical,6.0,12.0,e,4242,2016-01-01 14:28:00

In [7]:
df.shape

(69603, 11)

In [8]:
# create a dataframe just containing
# gapminder['continent'].unique().tolist
loc_unique = df['Location'].unique().tolist()
print("loc_unique", loc_unique[0])
# pd.DataFrame(q_list, columns=['q_data'])
df_unique = pd.DataFrame(loc_unique, columns=['Location'])
df_unique.head()

loc_unique dundas west stationt to broadview station

                                    Location
0  dundas west stationt to broadview station
1                     fleet st. and strachan
2            queen st. west and roncesvalles
3          lake shore blvd. and superior st.
4               roncesvalles to neville park

In [9]:
df_unique.shape

(10074, 1)

# Set up geocode

In [10]:
! pip install -U googlemaps

Requirement already up-to-date: googlemaps in /opt/conda/envs/fastai/lib/python3.6/site-packages (3.0.2)
Requirement already satisfied, skipping upgrade: requests<3.0,>=2.11.1 in /opt/conda/envs/fastai/lib/python3.6/site-packages (from googlemaps) (2.21.0)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /opt/conda/envs/fastai/lib/python3.6/site-packages (from requests<3.0,>=2.11.1->googlemaps) (2.8)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /opt/conda/envs/fastai/lib/python3.6/site-packages (from requests<3.0,>=2.11.1->googlemaps) (1.24.1)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /opt/conda/envs/fastai/lib/python3.6/site-packages (from requests<3.0,>=2.11.1->googlemaps) (2018.11.29)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/fastai/lib/python3.6/site-packages (from requests<3.0,>=2.11.1->googlemaps) (3.0.4)

In [17]:
import googlemaps

# API key comes from https://console.developers.google.com/google/maps-apis/apis/geocoding-backend.googleapis.com/credentials?project=streetcardec2018&duration=PT1H
gmaps = googlemaps.Client(key='AIzaSyBeIBLutP16BmXmXkb14v8gOUYCh9xMhVI')

# Geocoding an address
geocode_result = gmaps.geocode('lake shore blvd. and superior st., Toronto')

print("geocode result",geocode_result[0]["geometry"]["location"])

geocode result {'lat': 43.61496169999999, 'lng': -79.4886581}

In [12]:
# given an address / junction, return a list containg the latitude and longitude values returned by geocode api

def get_geocode_result(junction):
    
    geo_string = junction+", "+city_name
    # print("geo_string is", geo_string)
    geocode_result = gmaps.geocode(geo_string)
    # check to see if the result is empty and if so return zeros to indicate unparseable junction value
    if len(geocode_result) > 0:
        locs = geocode_result[0]["geometry"]["location"]
        return [locs["lat"], locs["lng"]]
    else:
        return [0.0,0.0]

In [13]:
# test geocode api with value that will return empty result

locs = get_geocode_result("roncesvalles to longbranch")
print("locs ",locs)

locs  [0.0, 0.0]

In [14]:
# test geocode api with value that will return non-empty result
get_geocode_result("queen and bathurst")[0]

43.6471969

In [15]:
df.shape

(69603, 11)

In [16]:

# to avoid making multiple calls to the geocode API, bring in the latitude and longitude values as a single 
# column to a dataframe containing just the unique location values and once we have that go through steps
# to get the desired columns in the overall dataframe
df_unique['lat_long'] = df_unique.Location.apply(lambda s: get_geocode_result(s))

In [17]:
df_unique.head()

                                    Location                          lat_long
0  dundas west stationt to broadview station                        [0.0, 0.0]
1                     fleet st. and strachan         [43.6362976, -79.4096351]
2            queen st. west and roncesvalles  [43.64533489999999, -79.4131843]
3          lake shore blvd. and superior st.  [43.61496169999999, -79.4886581]
4               roncesvalles to neville park                        [0.0, 0.0]

In [18]:
df_unique.shape

(10074, 2)

In [22]:
# derive latitude and longitude columns from list column
# df["new_col"] = df["A"].str[0]
df_unique["latitude"] = df_unique["lat_long"].str[0]
df_unique["longitude"] = df_unique["lat_long"].str[1]
df_unique.head()

,Location,lat_long,latitude,longitude
0,dundas west stationt to broadview station,"[0.0, 0.0]",0.000000,0.000000
1,fleet st. and strachan,"[43.6362976, -79.4096351]",43.636298,-79.409635
2,queen st. west and roncesvalles,"[43.64533489999999, -79.4131843]",43.645335,-79.413184
3,lake shore blvd. and superior st.,"[43.61496169999999, -79.4886581]",43.614962,-79.488658
4,roncesvalles to neville park,"[0.0, 0.0]",0.000000,0.000000

In [23]:
df_unique.shape

(10074, 4)

In [24]:
# join df_unique dataframe with original df dataframe on Location column to get latitude and longitude cols in original df dataframe
# result1 = pd.merge(date_frame, routedirection_frame, on='count', how='outer')
df_out = pd.merge(df, df_unique, on="Location", how='left')
df_out.head()

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,Report Date Time,lat_long,latitude,longitude
0,2016-01-01,505,00:00:00,Friday,dundas west stationt to broadview station,General Delay,7.0,14.0,w,4028,2016-01-01 00:00:00,"[0.0, 0.0]",0.000000,0.000000
1,2016-01-01,511,02:14:00,Friday,fleet st. and strachan,Mechanical,10.0,20.0,e,4018,2016-01-01 02:14:00,"[43.6362976, -79.4096351]",43.636298,-79.409635
2,2016-01-01,301,02:22:00,Friday,queen st. west and roncesvalles,Mechanical,9.0,18.0,w,4201,2016-01-01 02:22:00,"[43.64533489999999, -79.4131843]",43.645335,-79.413184
3,2016-01-01,301,03:28:00,Friday,lake shore blvd. and superior st.,Mechanical,20.0,40.0,e,4251,2016-01-01 03:28:00,"[43.61496169999999, -79.4886581]",43.614962,-79.488658
4,2016-01-01,501,14:28:00,Friday,roncesvalles to neville park,Mechanical,6.0,12.0,e,4242,2016-01-01 14:28:00,"[0.0, 0.0]",0.000000,0.000000

In [30]:
df_out.head(30)

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,Report Date Time,lat_long,latitude,longitude
0,2016-01-01,505,00:00:00,Friday,dundas west stationt to broadview station,General Delay,7.0,14.0,w,4028,2016-01-01 00:00:00,"[0.0, 0.0]",0.000000,0.000000
1,2016-01-01,511,02:14:00,Friday,fleet st. and strachan,Mechanical,10.0,20.0,e,4018,2016-01-01 02:14:00,"[43.6362976, -79.4096351]",43.636298,-79.409635
2,2016-01-01,301,02:22:00,Friday,queen st. west and roncesvalles,Mechanical,9.0,18.0,w,4201,2016-01-01 02:22:00,"[43.64533489999999, -79.4131843]",43.645335,-79.413184
3,2016-01-01,301,03:28:00,Friday,lake shore blvd. and superior st.,Mechanical,20.0,40.0,e,4251,2016-01-01 03:28:00,"[43.61496169999999, -79.4886581]",43.614962,-79.488658
4,2016-01-01,501,14:28:00,Friday,roncesvalles to neville park,Mechanical,6.0,12.0,e,4242,2016-01-01 14:28:00,"[0.0, 0.0]",0.000000,0.000000
5,2016-01-01,505,15:42:00,Friday,broadview station loop,Investigation,4.0,10.0,w,4187,2016-01-01 15:42:00,"[43.677135, -79.35820799999999]",43.677135,-79.358208
6,2016-01-01,504,15:54:00,Friday,broadview and queen,Mechanical,6.0,12.0,e,4181,2016-01-01 15:54:00,"[43.6593626, -79.34769709999999]",43.659363,-79.347697
7,2016-01-01,501,16:05:00,Friday,roncesvalles to humber loop,Mechanical,6.0,12.0,w,4245,2016-01-01 16:05:00,"[0.0, 0.0]",0.000000,0.000000
8,2016-01-01,506,16:27:00,Friday,main station,Mechanical,8.0,16.0,w,4092,2016-01-01 16:27:00,"[43.6890219, -79.3016857]",43.689022,-79.301686
9,2016-01-01,510,16:34:00,Friday,richmond st. and spadina,Diversion,41.0,46.0,s,bad vehicle,2016-01-01 16:34:00,"[43.6478469, -79.39588049999999]",43.647847,-79.395880
10,2016-01-01,501,16:44:00,Friday,roncesvalles to humber,Mechanical,6.0,12.0,w,4220,2016-01-01 16:44:00,"[0.0, 0.0]",0.000000,0.000000
11,2016-01-01,505,17:36:00,Friday,dundas st. west and huron st.,Held By,7.0,13.0,w,4039,2016-01-01 17:36:00,"[43.653332, -79.3961386]",43.653332,-79.396139
12,2016-01-01,506,19:15:00,Friday,bathurst and college,Utilized Off Route,7.0,14.0,w,4095,2016-01-01 19:15:00,"[43.6564647, -79.4077012]",43.656465,-79.407701
13,2016-01-01,509,21:25:00,Friday,cne loop,Mechanical,10.0,20.0,e,4406,2016-01-01 21:25:00,"[43.63441590000001, -79.4258807]",43.634416,-79.425881
14,2016-01-01,511,22:54:00,Friday,bathurst and wellington,Held By,16.0,24.0,b,4095,2016-01-01 22:54:00,"[43.6426297, -79.4021618]",43.642630,-79.402162
15,2016-01-01,510,23:58:00,Friday,queen quay loop and spadina,Mechanical,6.0,13.0,n,4132,2016-01-01 23:58:00,"[43.6384598, -79.3916564]",43.638460,-79.391656
16,2016-01-02,501,01:00:00,Saturday,roncesvallesue and the queensway,Mechanical,10.0,20.0,e,4223,2016-01-02 01:00:00,"[43.63878890000001, -79.446111]",43.638789,-79.446111
17,2016-01-02,501,06:01:00,Saturday,queen and roncevalles,Mechanical,4.0,30.0,e,4247,2016-01-02 06:01:00,"[43.64533489999999, -79.4131843]",43.645335,-79.413184
18,2016-01-02,504,06:51:00,Saturday,king and spadina,Mechanical,32.0,36.0,w,4186,2016-01-02 06:51:00,"[43.6454419, -79.3951458]",43.645442,-79.395146
19,2016-01-02,504,06:55:00,Saturday,king and spadina,Mechanical,28.0,32.0,w,4154,2016-01-02 06:55:00,"[43.6454419, -79.3951458]",43.645442,-79.395146
20,2016-01-02,501,08:04:00,Saturday,humber loop,Mechanical,8.0,15.0,e,4208,2016-01-02 08:04:00,"[43.63079099999999, -79.478622]",43.630791,-79.478622
21,2016-01-02,512,08:12:00,Saturday,deer park cr and st clair,Mechanical,9.0,18.0,w,4040,2016-01-02 08:12:00,"[43.6872125, -79.3980108]",43.687213,-79.398011
22,2016-01-02,506,08:45:00,Saturday,coxwell and gerrard,Mechanical,8.0,15.0,w,4055,2016-01-02 08:45:00,"[43.6753569, -79.32028249999999]",43.675357,-79.320282
23,2016-01-02,506,12:26:00,Saturday,coxwell and gerrard,Mechanical,6.0,11.0,e,4125,2016-01-02 12:26:00,"[43.6753569, -79.32028249999999]",43.675357,-79.320282
24,2016-01-02,504,13:00:00,Saturday,john-spadina,General Delay,10.0,14.0,w,bad vehicle,2016-01-02 13:00:00,"[43.659681, -79.40069810000001]",43.659681,-79.400698
25,2016-01-02,506,19:24:00,Saturday,ashdale and gerrard,Mechanical,23.0,29.0,e,4042,2016-01-02 19:24:00,"[43.6723671, -79.32211559999999]",43.672367,-79.322116
26,2016-01-02,510,19:39:00,Saturday,spadina north of college,Investigation,66.0,12.0,n,4124,2016-01-02 19:39:00,"[43.6579365, -79.3999151]",43.657936,-79.399915
27,2016-01-02,501,19:50:00,Saturday,abell and queen,Mechanical,7.0,15.0,e,4237,2016-01-02 19:50:00,"[43.6430758, -79.4243556]",43.643076,-79.424356
28,2016-01-02,504,22:00:00,Saturday,jameson and king,Investigation,26.0,34.0,w,4187,2016-01-02 22:00:00,"[43.6372723, -79.4358608]",43.637272,-79.435861
29,2016-01-02,501,22:50:00,Saturday,queen street and roncesvalles,Mechanical,9.0,18.0,w,4207,2016-01-02 22:50:00,"[43.6390997, -79.4451902]",43.639100,-79.445190

In [25]:
df_out.shape

(69603, 14)

In [32]:
print("Bad route latitude:",df_out[df_out.latitude == 0.0].shape[0])

Bad route latitude: 1675

# Remove bad rows

In [54]:
print("Location count post cleanup:",df['Location'].nunique())
print("Route count post cleanup:",df['Route'].nunique())
print("Direction count post cleanup:",df['Direction'].nunique())
print("Vehicle count post cleanup:",df['Vehicle'].nunique())
# print("Bad Location count":df[df.Vehicle == 'bad vehicle'].shape[0])
print("Bad route count:",df[df.Route == 'bad route'].shape[0])
print("Bad direction count:",df[df.Direction == 'bad direction'].shape[0])
print("Bad vehicle count:",df[df.Vehicle == 'bad vehicle'].shape[0])

Location count post cleanup: 10074
Route count post cleanup: 15
Direction count post cleanup: 6
Vehicle count post cleanup: 1017
Bad route count: 3091
Bad direction count: 334
Bad vehicle count: 14480

In [55]:
# remove rows with bad vehicle value
if remove_bad_values:
    df = df[df.Vehicle != 'bad vehicle']
    df = df[df.Direction != 'bad direction']
    df = df[df.Route != 'bad route']

In [56]:
df.shape

(66095, 11)

In [26]:
pickled_output_dataframe

'2014_2018_df_cleaned_keep_bad_loc_geocoded_apr23.pkl'

In [27]:
# pickle the cleansed dataframe
file_name = path + pickled_output_dataframe
df_out.to_pickle(file_name)

In [28]:
dfn = pd.read_pickle(file_name)
dfn.head()

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,Report Date Time,lat_long,latitude,longitude
0,2016-01-01,505,00:00:00,Friday,dundas west stationt to broadview station,General Delay,7.0,14.0,w,4028,2016-01-01 00:00:00,"[0.0, 0.0]",0.000000,0.000000
1,2016-01-01,511,02:14:00,Friday,fleet st. and strachan,Mechanical,10.0,20.0,e,4018,2016-01-01 02:14:00,"[43.6362976, -79.4096351]",43.636298,-79.409635
2,2016-01-01,301,02:22:00,Friday,queen st. west and roncesvalles,Mechanical,9.0,18.0,w,4201,2016-01-01 02:22:00,"[43.64533489999999, -79.4131843]",43.645335,-79.413184
3,2016-01-01,301,03:28:00,Friday,lake shore blvd. and superior st.,Mechanical,20.0,40.0,e,4251,2016-01-01 03:28:00,"[43.61496169999999, -79.4886581]",43.614962,-79.488658
4,2016-01-01,501,14:28:00,Friday,roncesvalles to neville park,Mechanical,6.0,12.0,e,4242,2016-01-01 14:28:00,"[0.0, 0.0]",0.000000,0.000000

In [29]:
dfn.shape

(69603, 14)

In [ ]:
file_outname = "2014_2018_df_cleaned_keep_bad_loc_geocoded_apr29.csv"
dfn.to_csv(path+file_outname)

# Visualize cleaned data

In [ ]:
!pip install pixiedust

In [ ]:
import pixiedust

In [ ]:
display(df)